.force-wrap {
    word-wrap:break-word;
    width:100%;
    display:block;
  }

.logo {
  max-width:35px;
  margin-top: -7px;
}

.login-logo {
  max-width:600px
}

.get-button {
  width: 150px;
  margin: 0 auto;
}
/* make a class for navigation texts */

.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
  }
  
  @media (min-width: 1025px) {
  .h-custom-2 {
  height: 100%;
  }
  }

  #map { height: 300px; }